  <!--Experiencia-->
  <section>
    <div class="container" id="experiencia">
      <h1 class="py-lg-4 py-md-4 py-sm-2 py-xs-2">EXPERIENCIA</h1>
      <div class="row px-lg-2 px-md-2 px-sm-2 px-xs-3">
        <div class="col-lg-4 col-md-6  col-sm-6  col-xs-12 box ">
          <div class="imgBx p-5">
            <img src="/assets/back2.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <span class="d-block d-sm-none eye"><i class="bi bi-eye"></i></span>
              <h2>hola mundo</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime unde, iusto natus et
                maiores
                atque ut saepe sed doloremque quae tempore in amet consequatur veritatis necessitatibus perferendis,
                eaque nobis!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6  col-xs-12 box ">
          <div class="imgBx p-5">
            <img src="/assets/back2.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <span class="d-block d-sm-none eye"><i class="bi bi-eye"></i></span>
              <h2>hola mundo</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime unde, iusto natus et
                maiores
                atque ut saepe sed doloremque quae tempore in amet consequatur veritatis necessitatibus perferendis,
                eaque nobis!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6  col-xs-12 box ">
          <div class="imgBx p-5">
            <img src="/assets/back3.png" alt="">
          </div>
          <div class="content">
            <div>
              <span class="d-block d-sm-none eye"><i class="bi bi-eye"></i></span>
              <h2>hola mundo</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime unde, iusto natus et
                maiores
                atque ut saepe sed doloremque quae tempore in amet consequatur veritatis necessitatibus perferendis,
                eaque nobis!
              </p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-6  col-sm-6  col-xs-12 box ">
          <div class="imgBx p-5">
            <img src="/assets/back4.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <span class="d-block d-sm-none eye"><i class="bi bi-eye"></i></span>
              <h2>hola mundo</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime unde, iusto natus et
                maiores
                atque ut saepe sed doloremque quae tempore in amet consequatur veritatis necessitatibus perferendis,
                eaque nobis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
