<section>
    <div class="container p-3" id="proyecto">
      <h1>PROYECTOS</h1>
      <div class="row row-cols-1 row-cols-md-3 ">
        <div class="col mb-5">
          <div class="card h-100 bg-cardglass ">
            <img src="./assets/back.jpg" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p>
                <i class="bi bi-github"></i>
                <a href="#!" class="text-reset">Github</a>
                <i class="bi bi-eye"></i>
                <a href="#!" class="text-reset">View</a>
              </p>

            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100 bg-cardglass">
            <img src="./assets/back2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p>
                <i class="bi bi-github"></i>
                <a href="#!" class="text-reset">Github</a>
                <i class="bi bi-eye"></i>
                <a href="#!" class="text-reset">View</a>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100 bg-cardglass">
            <img src="./assets/back3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
              <p>
                <i class="bi bi-github"></i>
                <a href="#!" class="text-reset">Github</a>
                <i class="bi bi-eye"></i>
                <a href="#!" class="text-reset">View</a>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
